* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: auto;
    height: 100vh;
    background: #BFECFF;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.section_1 {
    width: 80%;

}

.contactus {
    width: 100%;
    font-size: 30px;
    padding: 40px;
    border-bottom: 2px solid black;

}

.section_2 {
    width: 80%;
    margin-top: 20px;
    background: white;

}

.address {
    padding: 10px;
    font-size: 22px;
}

.address_text {
    display: flex;
    padding: 10px;
    /* justify-content: center; */
    gap: 180px;
}

.address_text1 p {
    font-size: 20px;
    margin-top: 5px;
}

.address_text2 p {
    font-size: 20px;
    margin-top: 5px;
}

p img {
    width: 15px;
    height: 15px;
}

.location_img {
    margin-top: -10px;
    margin-left: 60px;
}

.location_img img {
    height: 60px;
    width: 60px;
}

.section_3 {
    width: 80%;
    margin-top: 20px;
    background: white;
    display: flex;


}

.form p {
    padding-top: 20px;
    padding-left: -5px;

}

p input {
    height: 40px;
    width: 240px;
    margin-left: 20px;
}

p textarea {
    height: 150px;
    width: 500px;
    margin-left: 20px;
}

p button {
    height: 50px;
    width: 100px;
    margin-left: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: red;
}

.map {
    padding: 20px;
}

.map iframe {
    margin-left: 10px;
}

input::placeholder {
    font-size: 17px;

}

input {
    padding-left: 30px;
    font-size: 17px;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo1 {
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 50px;

}

.logo1 img {
    height: 100%;
    width: 100%;

}